.container {
  max-width: 1280px;
  margin: 0 auto;
}
.name {
  color: #7300ff;
}
.subtitle {
  color: rgb(0, 106, 255);
}
.code {
  max-width: 100px;
  color: rgb(255, 196, 0);
  background-color: #000;
}
.value {
  color: #dd00ff;
}